h1 {
    font-size: 4em;
    font-family:sans-serif;
}
p {
    font-family:sans-serif;
}
h1,p {
    margin: .2em;
    padding: .2em;
    color:white;

}
main {
    width: 100vw;
    height:100vh;
    background-color: blueviolet;
    position: absolute;
    text-align: center;
}