h1 {
    font-size: 4em;
    font-family:sans-serif;
}
p {
    font-family:sans-serif;
}
h1,p {
    margin: .2em;
    padding: .2em;
    color:white;

}
main {
    width: 100vw;
    height:100vh;
    background: rgb(2,0,36);
    background: linear-gradient(166deg, rgba(2,0,36,1) 0%, rgba(40,9,121,1) 35%, rgba(0,190,255,1) 100%);    
    position: absolute;
    text-align: center;
}

.socialicon {
    width:2em;
    height:2em;
    margin:1em;
}

.socialicon:hover{
    opacity:0.8;
}